<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/Settings.css" type="text/css">
</head>
<body>
    <header>
        <div class="header">
            <p class="logo"><a href="">Aspire Bus</a></p>
            <p class="ChangeUserName"><a href="">Change UserName</a></p>
            <p class="ChangePassword"><a href="">Change Password</a></p>
            <p class="ChangeEmail"><a href="">Change Email</a></p>
            <p class="back"><a href="">Back</a></p>
        </div>
    </header>
    <main>
        <div class="main">
            <div class="innerdiv">
                <h2>Change UserName</h2>
                <form action="" class="Username" method="post">
                    <label for="Ousername">Old UserName</label>
                    <input type="text" id="Ousername" name="Ousername" required>
                    <label for="Nusername">New UserName</label>
                    <input type="text" id="Nusername" name="Nusername" required>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                    <div class="button"><button>Submit</button></div>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="copyrights">© 2023 Aspire Bus Booking System. All rights reserved.</div>
    </footer>
</body>
</html>