<!DOCTYPE html>
<html>
<head>
	<title>Help - Online Bus Ticket Booking</title>
    <style>
        ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(32, 32, 32);
        }

        li {
        float: left;
        }

        li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        }

        li a:hover {
        background-color: black;
        }
    </style>
</head>
<body>
	<h2>Support</h2>
	<p>If you need support with your booking or have any issues, please contact us using one of the following methods:</p>
	<p><a href="mailto:support@aspirebusbooking.com">Email: support@aspirebusbooking.com</a><br>Phone: +91 62388 15049<br>Live Chat: available on our website</p>
	<h3>FAQ</h3>
	<dl>
		<dt>Q: How do I book a bus ticket?</dt>
		<dd>A: To book a bus ticket, go to the "Book Ticket" page on our website and follow the instructions.</dd>
		<dt>Q: What payment methods do you accept?</dt>
		<dd>A: We accept credit/debit cards, net banking and mobile wallets.</dd>
		<dt>Q: Can I cancel my ticket?</dt>
		<dd>A: Yes, you can cancel your ticket up to 24 hours before the travel time.</dd>
		<dt>Q: How do I change my travel date?</dt>
		<dd>A: You can change your travel date up to 24 hours before the travel time by logging into your account on our website and following the instructions.</dd>
		<dt>Q: Do I need to carry a printout of the ticket?</dt>
		<dd>A: No, you can show the ticket on your mobile device or provide the ticket number and your ID proof to board the bus.</dd>
		<dt>Q: What if I miss my bus?</dt>
		<dd>A: If you miss your bus, your ticket becomes invalid and you will need to book a new ticket.</dd>
		<dt>Q: How do I know if my booking is confirmed?</dt>
		<dd>A: You will receive a confirmation email with your ticket after you have made the payment.</dd>
	</dl>
</body>
</html>